section {
 margin-left: auto;
 margin-right: auto;
 width: 900px;
 position: relative;
}

#img {
 margin-left: 25px;
 margin-right: 25px;
 margin-top: 50px;
 margin-bottom: 25px;
 display: inline-block;
 background-color: white;

 text-align: center;
 box-shadow: 5px 5px 5px #888888;
}

#poster {
 display: block;
 width: 150px;
}

#img:hover {
 transform: scale(1.3);
 transition: all 100ms;
}
